@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
}

header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	background: #fff;
}

.scrollimated {
	position: relative;
	max-width: 500px;
	height: 500px;
	margin: 0 auto;
}

.scrollimated div {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
}


/* POSITIONING ELEMENTS */

.alignleft {
	left: 30.2%; /* 151 */
}

.main-col {
	width: 22.8%; /* 114 */
}

.screen {
	width: 100%;
	height: 74.6%; /* 373 */
	left: 0;
	top: 0;
	background-image: url(../elements-assets/pantalla.png);
	z-index: 3;
}

	.inner-screen {
		width: 100%;
		height: 75.603217158%; /* 282 / 373 */
		left: 0;
		top: 0;
		overflow: hidden;
	}

	.window {
		width: 97.6%; 			/* 488 */
		height: 5.673758865%; 	/* 16 / 282 */
		left: 1.2%; 			/* 6 */
		top: 2.127659574%; 		/* 6 / 282 */
		background-image: url(../elements-assets/marco_ventana.png);
		z-index: 2;
	}

	.header, .footer {
		width: 39.6%; 			/* 198 */
		height: 6.382978723%; 	/* 18 / 282 */
		background-image: url(../elements-assets/header.png);
	}

	.header {
		top: 9.219858156%; /* 26 / 282 */
	}

	.footer {
		top: 89.716312057%; /* 253 / 282 */
	}

	.sidebar {
		width: 14.6%; 			/* 73 */
		height: 67.021276596%; 	/* 189 / 282 */
		top: 19.14893617%; 		/* 54 / 282 */
		left: 55.2%; 			/* 276 */
		background-image: url(../elements-assets/sidebar.png);
	}

	.title {
		height: 3.90070922%; 	/* 11 / 282 */
		top: 19.14893617%; 		/* 54 / 282 */
		background-image: url(../elements-assets/title.png);
	}

	.img1 {
		width: 9.4%;			/* 47 */
		height: 15.957446809%;	/* 45 / 282 */
		top: 26.595744681%;		/* 75 / 282 */
		background-image: url(../elements-assets/img1.png);
	}

	.img2 {
		width: 9.4%; 			/* 47 */
		height: 14.893617021%; 	/* 42 / 282 */
		top: 59.574468085%;		/* 168 / 282 */
		left: 43.6%;			/* 218 */
		background-image: url(../elements-assets/img2.png);
	}

	.p1 {
		width: 12.2%; 			/* 61 */
		height: 6.382978723%; 	/* 18 / 282 */
		top: 26.595744681%; 	/* 75 / 282 */
		left: 40.8%;			/* 204 */
		background-image: url(../elements-assets/p1.png);
	}

	.p2 {
		height: 11.70212766%;	/* 33 / 282 */
		top: 37.234042553%;		/* 105 / 282 */
		background-image: url(../elements-assets/p2.png);
	}

	.p3 {
		height: 9.929078014%;	/* 28 / 282 */
		top: 53.191489362%;		/* 150 / 282 */
		background-image: url(../elements-assets/p3.png);
	}

	.p4 {
		height: 11.70212766%;	/* 33 / 282 */
		top: 67.375886525%;		/* 190 / 282 */
		background-image: url(../elements-assets/p4.png);
	}

	.p5 {
		height: 2.836879433%;	/* 8 / 282 */
		top: 83.333333333%;		/* 235 / 282 */
		background-image: url(../elements-assets/p5.png);
	}

.keyboard {
	width: 37.2%;	/* 186 */
	height: 10.2%;	/* 51 */
	top: 86.8%;		/* 434 */
	left: 31.4%;	/* 157 */
	background-image: url(../elements-assets/teclado.png);
}

.mouse {
	width: 5.2%;	/* 26 */
	height: 8%;		/* 40 */
	top: 92%;		/* 460 */
	left: 76.8%;	/* 384 */
	background-image: url(../elements-assets/raton.png);
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
